*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    max-height: 100px;
}

.start{
    position: fixed;
    left: 0;
    top:0;
    height: 100%;
    width: 100%;
    background-color: #35ad24d1;
    z-index: 2;
}
.start span{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(0, 0, 0);
    font-size: 30px;
    color: white;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    
}
.level-box , .level-box option{
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    color: green;
}
.level-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.level-div span{
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: 20px;
    width: 50%;
    color: green;
    font-weight: bold;
}

.info{
    width: 800px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #f6f6f6;
    font-size: 24px;
    border: 2px solid green;
}
.block{

    display: flex;
    width: 800px;
    flex-wrap: wrap;
    margin: 20px auto;
}
.no{
    pointer-events: none;
}

.game-block{
    height: 140px;
    transition: transform .5s;
    cursor: pointer;
    position: relative;
    margin: 0 20px 20px;
    flex: 1 0 150px;
    transform-style: preserve-3d;
}

.game-block .front{
    background-color: #333;
}
.game-block .back{
    background-color: #607D8B;
    line-height: 200px;
    transform: rotateY(180deg);
}

.game-block img{
    width: 100px;
    height: 100px;
    
}
.game-block .face{
    position:absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    backface-visibility: hidden;
    border: 5px solid green;
}

.game-block .front::before{
    content: '?';
    font-size: 130px;
    color: white;
}

.is-flipped{
    transform: rotateY(180deg);
}

.match{
    transform: rotateY(180deg);

}

video{
    display:none;
}

.btn{
    display: flex;
    justify-content: center;
}
.btn button{
    background-color: rgb(0, 0, 0);
    font-size: 20px;
    color: white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    display: none;

}

